@font-face {
    font-family: "Vend Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/VendSans-Medium.ttf');
}

/* Druk Text Font Family */
@font-face {
  font-family: "Druk Text Trial";
  src: url("../assets/DrukTextMediumTrial.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Druk Text Trial";
  src: url("../assets/DrukTextBoldTrial.woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Druk Text Trial";
  src: url("../assets/DrukTextHeavyTrial.woff");
  font-style: normal;
  font-weight: 900;
}

/* Helvetica Neue Font Family */
@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/HelveticaNeue-MediumExt.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/HelveticaNeue-MediumExt.woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../assets/HelveticaNeueBold.woff");
  font-style: normal;
  font-weight: 700;
}


.events-card {
  width: 320px;
  background: #2b2b2b;
  border: 1px solid #3a3a3a;
  padding: 20px;
  color: #ffffff;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
    font-family: "Vend Sans", sans-serif !important;

}

.accent {
  width: 4px;
  height: 22px;
  background: #ff7a18;
  margin-right: 10px;
}

.event-item {
  padding: 12px 0;
  border-bottom: 1px solid #3f3f3f;
}

.event-item:last-of-type {
  border-bottom: none;
}

.event-item h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
    font-family: "Vend Sans", sans-serif !important;

}

.event-item p {
  margin: 4px 0 0;
  font-size: 12px;
  color: #bdbdbd;
    font-family: "Vend Sans", sans-serif !important;

}

.see-more {
     margin-top: 14px;
    width: max-content;
    padding: 10px 15px;
    background: #ff7a18;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  font-family: 'Helvetica Neue' !important;

  }

.see-more:hover {
  background: #e96a0f;
}
