
@font-face {
    font-family: "Vend Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../assets/VendSans-Medium.ttf');
}
[data-automation-id="yammer_feed"]{
     font-family: "Vend Sans", sans-serif !important;


}
.event-list {
  /* max-width: 700px; */
  margin: 0px auto;
  background: #2c2c2c;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #555555;
}

/* ROW */
.event-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  border-bottom: 1px solid #555555;
}

.event-row:last-child {
  border-bottom: none;
}

/* LEFT */
.event-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* BADGE */
.badge {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

/* .badge.birthday {
    background: linear-gradient(135deg, #ff9f43, #ff7b00);
} */

.badge.anniversary {
  background: linear-gradient(135deg, #f6b93b, #e58e26);
}

.badge.work {
  background: linear-gradient(135deg, #a29bfe, #6c5ce7);
}

/* TEXT */
.event-text h4 {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
     font-family: "Vend Sans", sans-serif !important;


}

.event-text span {
  font-size: 12px;
  color: #b0b0b0;
  display: block;
    font-family: "Vend Sans", sans-serif !important;


}

.event-text small {
  font-size: 11px;
  color: #8c8c8c;
    font-family: "Vend Sans", sans-serif !important;

}

/* TAG */
.tag {
  background: #424242;
  color: #ffffff;
  padding: 6px 10px;
  font-size: 11px;
  border-radius: 1px;
  text-transform: capitalize;
    font-family: "Vend Sans", sans-serif !important;


}

.fui-FluentProvider,
[class^="appContainer"] {
  background-color: transparent !important;
}

#CaptionElementView {
  color: #ffffff !important;
}

.bgicon {
  background-image: url("../assets/cake.png");
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgicon1 {
  background-image: url("../assets/anniv.png");
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bgicon2 {
  background-image: url("../assets/anniv2.png");
  height: 60px;
  width: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
